# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
tsconfig.tsbuildinfo

# Editor directories and files
!.vscode/extensions.json

# Dotenv
.env
.env.me

# Tests and coverage
coverage
.env*
.flaskenv*
!.env.project
!.env.vault